@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import '~bootstrap/scss/bootstrap';
@import 'colors.scss';
@import 'theme.scss';
@import 'typography.scss';


body {
  background-color: $background-color;
  color: $font-color;
  font-family: Verdana, cursive;
  padding: 50px;
}

%vertical-cells {
  border-color: black;
  border-left-style: solid;
  border-right-style: solid;
  line-height: 100px;
}

%horizontal-cells {
  border-color: black;
  border-top-style: solid;
  border-bottom-style: solid;
  line-height: 100px;
}

#cell1,
#cell4,
#cell7 {
  @extend %vertical-cells;
}


#cell3,
#cell4,
#cell5 {
  @extend %horizontal-cells;
}

.row {
  display: flex;
  justify-content: center;
}

.col-3 {
  display: flex;
  height: 100px;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

h1 {
  font-family: $title-font-family;
  text-align: justify;
}

.in-game {
  display: none;
}

.message-block {
  min-height: 33px;
}

nav {
//  display: flex;
  background-color: $white;
  font-size: 20;
  border-color: black;
  border-style: solid;
}
