@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import '~bootstrap/scss/bootstrap';
@import 'colors.scss';
@import 'theme.scss';
@import 'typography.scss';


body {
  // background-image: url('https://i.imgur.com/kWsEX3c.jpg');
  background-image: url('./public/ttt-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: center;
  background-position: fixed;
  background-size: cover;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background resize credit https://stackoverflow.com/questions/5662735/stretch-background-image-css;
  color: $font-color;
  font-family: $body-font-family;
  padding: 50px;
  max-width: 1262px;
  margin: auto;
}

%vertical-cells {
  border-color: $font-color;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 5px;
  line-height: 100px;
}

%horizontal-cells {
  border-bottom-style: solid;
  border-color: $font-color;
  border-top-style: solid;
  border-width: 5px;
  line-height: 100px;
}

#cell1,
#cell4,
#cell7 {
  @extend %vertical-cells;
}


#cell3,
#cell4,
#cell5 {
  @extend %horizontal-cells;
}

.row {
  display: flex;
  justify-content: center;
}

.col-3 {
  color: rgba(218, 165, 32, 1);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(248, 248, 255, 1);
  display: flex;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  height: 100px;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.auth {
  display: flex;
  align-items: center;
}

h1 {
  display: block;
  text-align: center;
  font-family: $title-font-family;
  font-size: $title-font-size;
}

.in-game {
  display: none;
}

.message-block  {
  display: flex;
  margin-bottom: 30px;
}

#message,
#user-change {
  min-height: 33px;
}

nav {
  display: flex;
  align-items: center;
  background-color: $white;
  border-color: black;
  border-style: solid;
  font-size: $body-font-size;
  padding: 15px;
}
